.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8b2;
}
.App h1{
  margin: 20px ;
  color: rgb(20, 71, 148);
  border-bottom : 3px solid rgb(189, 136, 23);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}